/* 
    <div className={styles.menuContainer}>
      {kategorier.map((kategori) => (
        <section key={kategori} className={styles[kategori.toLowerCase()]}>
          <h2>{kategori}</h2>
          {dishes
            .filter((dish) => dish.kategori === kategori)
            .map((dish, i) => (
              <Dish key={i} {...dish} />
            ))}
        </section>
      ))}
    </div>
*/

.menuContainer {
  width: 95%;
  margin: 0 auto;

  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "one" "two" "three";
}

.categoryCard:nth-child(1) {
  grid-area: two;
}

.categoryCard:nth-child(2) {
  grid-area: one;
}

.categoryCard:nth-child(3) {
  grid-area: three;
}

.categoryCard {
  width: 32%;
  background-image: url("../assets/paper_texture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;

  padding: 15px;
  display: flex;
  flex-direction: column;
  border: 3px solid #85c47f;
  border-radius: 5px;
}

/* .forrett {
  order: -1;
} */

/* .hovedrett {
} */

/* .dessert {
} */

h2 {
  font-family: "Poiret One", sans-serif;
  text-transform: uppercase;
  /* text-decoration: underline 1px #85c47f; */
}

h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #85c47f;
  margin: 0 auto;
}

.hovedrett h2::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #85c47f;
  margin: 0 auto;
}

@media screen and (min-width: 300px) {
  .menuContainer {
    row-gap: 2rem;
    grid-template-areas:
      "one"
      "two"
      "three";
  }
  .categoryCard {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .menuContainer {
    width: 80%;
    row-gap: 2rem;
    grid-template-areas:
      "one"
      "two"
      "three";
  }
  .categoryCard {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .menuContainer {
    margin-top: 5rem;
    width: 85%;
    row-gap: 3rem;
    column-gap: 3rem;
    grid-template-areas:
      "one two"
      "three three";
  }
}

@media screen and (min-width: 1200px) {
  .menuContainer {
    margin-top: 5rem;
    width: 90%;
    row-gap: 3rem;
    column-gap: 3rem;
    grid-template-areas: "one two three";
  }
}
