#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
  text-align: center;
  margin: 1rem auto 2rem;
  font-family: "Cookie", cursive;
  text-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5);
}
