:root {
  font-family: calibri, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url("./assets/pale_table_with_leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  background-color: bisque;

  color: #2c2b2b;
}
